@model IEnumerable<Assignment3.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Start</th>
            <th>Modify</th>
            <th>Title</th>
            <th>Content</th>
            <th>Publish</th>
            <th>Category</th>
            <th>Author</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
@foreach (var item in Model) {
        <tr>
            <td>@item.CreatedDate</td>
            <td>@item.UpdatedDate</td>
            <td>@item.Title</td>
            <td>@item.Content</td>
            <td>@item.PublishStatus</td>
            <td>@item.PostCategory.CategoryName</td>
            <td>@item.Author.FullName</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">
                    <i class="fa fa-pen"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">
                    <i class="fa fa-eye"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
